  .feature-gallery {
    position: relative;
    overflow-x: hidden;
    scrollbar-width: none;
    box-sizing: border-box;
    margin: 3rem 20px;
  }
  
  .feature-gallery-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    transition: all 0.5s;
    width: 100%;
  }
  
  .gallery-item {
    min-width: 33.3%;
    height: 20rem;
    padding: 0.03%;
  }
  
  .prev,
  .next {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0);
    color: white;
    border: none;
    font-size: 18px;
    padding: 5px 11px 5px 11px;
    cursor: pointer;
    z-index: 1;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }

  @media screen and (min-width: 1760px) {
    .gallery-item {
      width: 60rem;
      height: 30rem;
    }
  }
  
  @media screen and (max-width: 1200px) {
    .gallery-item {
      height: 20rem;
    }
  }

  @media screen and (max-width: 1000px) {
    .gallery-item {
      height: 15rem;
    }
  }

  @media screen and (max-width: 750px) {
    .gallery-item {
      height: 12rem;
    }
  }

  @media screen and (max-width: 600px) {
    .gallery-item {
      height: 10rem;
    }
  }

  @media screen and (max-width: 550px) {
    .gallery-item {
      height: 10rem;
    }
  }

  @media screen and (max-width: 500px) {
    .gallery-item {
      height: 8rem;
    }
  }

  @media screen and (max-width: 450px) {
    .gallery-item {
      height: 7rem;
    }
    .next, .prev {
      font-size: 10px;
     padding: 3px 7px 3px 7px;
    }
  }

  @media screen and (max-width: 350px) {
    .gallery-item {
      height: 5rem;
    }
    .next, .prev {
      font-size: 10px;
      padding: 3px 7px 3px 7px;
    }
  }