  .feature-gallery {
    position: relative;
    /* overflow-x: hidden; */
    scrollbar-width: none;
    box-sizing: border-box;
    margin: 3rem 20px;
  }
  
  .feature-gallery-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    transition: all 0.5s;
    width: 100%;
  }

  .feature-header {
    color: black;
  }
  
  .gallery-item {
    min-width: 33.3%;
    height: auto;
    padding: 0.03%;
    object-fit: cover;
    background-size: cover;
  }
  
  .prev,
  .next {
    position: absolute;
    top: 60%;
    background-color: rgba(0, 0, 0);
    color: white;
    border: none;
    font-size: 18px;
    padding: 5px 11px 5px 11px;
    cursor: pointer;
    z-index: 1;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }

  @media screen and (max-width: 450px) {
    .next, .prev {
     font-size: 10px;
     padding: 3px 7px 3px 7px;
    }

    .feature-header {
      font-size: 1rem;
    }
  }

  @media screen and (max-width: 350px) {
    .next, .prev {
      font-size: 10px;
      padding: 3px 7px 3px 7px;
    }
  }