.info-banner {
    margin: 0 auto;
    margin-top: 3rem;
    background: black;
    /* margin-bottom: 3rem; */
    width: 100vw;
    height: 25rem;
}

.banner-img {
    width: 100vw;
    height: 25rem;
    object-fit: cover;
    opacity: 0.7;
}

.banner-text {
    position: relative;
    bottom: 100%;
    left: 25%;
    color: white;
    font-size: 3rem;
    text-wrap: wrap;
}

.buy-now {
    position: relative;
    bottom: 100%;
    left: 25%;
    width: 8rem;
    height: 2.5rem;
    font-size: 1.2rem;
    font-family: "Josefin Sans";
    border: solid black 1px;
    background-color: white;
    color: black;
    transition: all 0.3s;
}

.buy-now:hover {
    background: #000;
    transition: all 0.3s;
    color: white;
}

.shop-now-link {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 1200px) {
    .banner-text {
        position: relative;
        bottom: 100%;
        left: 0%;
        color: white;
        font-size: 3rem;
        text-wrap: wrap;
    }

    .buy-now {
        left: 0%;
    }
}

@media screen and (max-width: 800px) {
    .info-banner {
        height: 20rem;
    }
    
    .banner-img {
        height: 20rem;
    }

    .banner-text {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 600px) {
    .banner-text {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 500px) {
    .info-banner {
        height: 15rem;
    }
    
    .banner-img {
        height: 15rem;
    }

    .banner-text {
        font-size: 2rem;
    }
}

@media screen and (max-width: 400px) {
    .banner-text {
        font-size: 1.7rem;
    }

    .buy-now {
        width: 7rem;
        height: 2rem;
        font-size: 1rem;
    }
}