/* .shopping-cart {
  position: relative;
  overflow-y: scroll;
} */

.CartModal {
    transform: translateX(100%);
    transition: transform 300ms ease-in-out;
    background-color: white;
}

.CartModal:focus-visible {
  border: none;
}

.CartModal--after-open {
    transform: translateX(0%);
    transition: transform 300ms ease-in-out;
}

.CartModal--after-open:focus-visible {
  border: none;
}

.CartModal--before-close {
    transform: translateX(100%);
}

.cart {
  color: black;
  padding: 0.5rem;
  transition: all 0.3s;
}

.cart:hover {
  color: white;
  background: black;
  transition: all 0.3s;
}

.close-cart {
  position: absolute;
  top: 2%;
  right: 5%;
  background-color: white;
  color: black;
  height: 2rem;
  width: 2rem;
  font-size: 1.5rem;
}

.close-cart:hover {
  color: white;
  background: black;
  transition: all 0.3s;
}

.cart-header {
  position: absolute;
  top: 2%;
  left: 5%;
  margin: 0;
  height: 2rem;
  font-weight: 400;
  color: black;
}



.cart-divider {
  margin-top: 4.5rem;
}

.cart-item-list {
  margin-top: 2rem;
  height: 100%;
  overflow-y: scroll;
}

.cart-item {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.cart-item-img {
  height: 9.5rem;
  width: 9.5rem;
  border: solid black 1px;
  object-fit: cover;
  aspect-ratio: 10rem/7rem;
}

.cart-item-info {
  text-align: center;
}

.product-name {
  width: 5rem;
}

.cart-item-quantity {
  height: 1.2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0.6rem;
}

.add-item {
  border: none;
}

.subtract-item {
  border: none;
}

.remove-button {
  background-color: transparent;
  color: black;
  border: none;
  text-decoration: underline;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
}

.checkout-container {
  position: fixed;
  margin: 1rem 0;
}

.checkout {
  position: absolute;
  bottom: 2%;
  left: 5%;
  width: 90%;
  margin: 0 auto;
  font-family: "Josefin Sans", sans-serif;
  height: 2rem;
  font-size: 1.3rem;
  transition: all 0.3s;
  background-color: white;
  border: solid black 1px;
  color: black;
}

.checkout:hover {
  color: white;
  background: black;
  transition: all 0.3s ease-in-out;
}