.products-header {
  margin-top: 7rem;
  color: black;
}

.product-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1px;
}

.product-item {
  position: relative;
}

.product-item-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-size: contain;
  overflow: hidden;
  aspect-ratio: 1 / 1;
  transition: 0.3s all;
}

.view-product {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.view-product-btn {
  color: black;
  padding: 1rem;
  font-size: 1.1rem;
  transition: all 0.3s;
  background-color: white;
  border: solid black 2px;
  font-family: "Josefin Sans", sans-serif;
}

.view-product-btn:hover {
  color: white;
  background-color: black;
  transition: all 0.3s;
}

.buy-product-btn {
  color: black;
  padding: 0.9rem;
  font-size: 1.1rem;
  transition: all 0.3s;
  background-color: white;
  border: solid black 2px;
  font-family: "Josefin Sans", sans-serif;
}

.buy-product-btn:hover {
  color: white;
  background-color: black;
  transition: all 0.3s;
}

.blurred-img {
  filter: blur(2px);
  transition: 0.3s all;
}

.loading {
  display: flex;
  justify-content: center;
}
