.products-header {
    margin-top: 7rem;
    color: black;
}

.product-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}

.product-item {
    height: auto;
    width: 29%;
    object-fit: cover;
    border: solid black 1px;
}